@using System.Data
@model System.Data.DataTable

<style>

  .label-success{
    background-color: #52c41a !important;
    color: #fff !important;
  }

</style>

<div class="table-responsive">
  <table class="table table-sm table-bordered bg-white text-center" id="table-show-create">
    <thead>
    <tr>
      <td width="50px">#</td>
      <td>Location</td>
      <td>ProductType</td>
      <td>ProductTypeName</td>
      <td>@Resources.Voucher.Product</td>
      <td>Color</td>
      <td>Size</td>
      <td>Grade</td>
      <td>@Resources.Voucher.Quantity</td>
      <td style="width: 20px"></td>
    </tr>
    </thead>
    <tbody>

    @{ var rowNo = 0; }
    @foreach (DataRow row in Model.Rows)
    {
      <tr id="@row["PK_StockIn_Accessory_On_Loc_Id"]">
        <td>@(rowNo += 1)</td>
        <td>@row["Loc_Name"]</td>
        <td>
          <span class="label label-info">@row["Pro_Type"]</span>
        </td>
        <td>@row["ProType_Name"]</td>
        <td>@row["Pro_Name"]</td>
        <td>@row["Color"]</td>
        <td>@row["Size"]</td>
        <td>@row["Grade_Name"]</td>
        <td width="150px">
          <input class="form-control text-center" onkeypress="return isDecimalInt(event)" id="txtQty" value="@row["In_QTY"]"/>
        </td>
        <td>
          <button class="btn btn-danger btn-sm" id="btn-remove">
            <i class="ti-trash"></i>
          </button>
        </td>
      </tr>
    }
    </tbody>
    <tfoot>
    <tr class="text-uppercase">
      <th class="text-center"></th>
      <th class="text-center bg-warning text-white">@Resources.Voucher.Total</th>
      <th class="text-center"></th>
      <th class="text-center"></th>
      <th class="text-center"></th>
      <th class="text-center"></th>

      <th class="text-center"></th>
      <th class="text-center">
      </th>
      <th class="text-center font-weight-bold text-white" style="background-color: #52c41a">
        @Model.Select().Sum(x => (int) x["In_QTY"])
      </th>
      <th class="text-center"></th>
    </tr>
    </tfoot>
  </table>
</div>
