@using web_payrolls.Models
@using web_payrolls.Helpers

@{
  ViewBag.Title = "Transfer";

  // connection
  var db = new DB_Connection();
  var provider = new ContextProvider(new ClHelper(), new DB_Connection());

  // hod
  var hod = db
    .tblBosses
    .Select(boss => new SelectListItem()
    {
      Value = boss.PK_Boss_Id + "",
      Text = boss.Name,
      Selected = boss.PK_Boss_Id == provider.ManagerId
    })
    .ToList();

  // CompanyId
  var company = db
    .tblCompanies
    .Select(com => new SelectListItem()
    {
      Value = com.PK_Comp_Id + "",
      Text = com.Comp_Name,
      Selected = com.PK_Comp_Id == provider.CompanyId
    })
    .ToList();
}

<style>
  .table td, .table th {
      border-Color: #ced4da;
  }

  .custom-select-form {
      padding: 2px;
      border: #dddddd 1px solid;
  }
</style>

@* Card Filter *@
<div class="card" style="margin-bottom: 0;border-top: #428bca 3px solid">
  <div class="card-header">
    <div class="card-actions">
      <a class="" data-action="collapse">
        <i class="ti-minus"></i> @Resources.Voucher.Show / @Resources.Voucher.Hide
      </a>
    </div>
    <h4 class="card-title m-b-0 card-text">
      <i class="ti-filter"></i> @Resources.Voucher.Filter
    </h4>
  </div>
  <div class="card-body collapse show b-t">
    <form method="get" id="form-search">
      <div class="row">

        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label>HOD</label>
          <div class="input-group">
            @Html.DropDownList("BossId", hod, "-- Choose Hod --", new {@class = "form-control"})
          </div>
        </div>


        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label>CompanyId</label>
          <div class="input-group">
            @Html.DropDownList("CompanyId", company, "-- Choose CompanyId --", new {@class = "form-control"})
          </div>
        </div>

        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label>LocationId</label>
          <div class="input-group">
            @Html.DropDownList("LocationId", new List<SelectListItem>(), "-- Choose LocationId --", new {@class = "form-control"})
          </div>
        </div>


        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label for="ProductTypeId">Product Type</label>
          <div class="input-group">
            <select id="ProductTypeId" name="ProductTypeId" class="form-control">
              @* <option value="">-- Choose Product Type --</option> *@
              <option value="Processing">Processing</option>
            </select>
          </div>
        </div>

        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label for="TypeName">Type Name</label>
          <div class="input-group">
            <select id="TypeName" name="TypeName" class="form-control">
              <option value="">-- @Resources.Voucher.Choose Type Name --</option>
            </select>
          </div>
        </div>

        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label for="ProductId">Product Name</label>
          <div class="input-group">
            <select id="ProductId" name="ProductId" class="form-control">
              <option value="">-- @Resources.Voucher.Choose Product Name --</option>
            </select>
          </div>
        </div>

        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label for="Color">Color</label>
          <div class="input-group">
            <select id="Color" name="Color" class="form-control">
              <option value="">-- @Resources.Voucher.Choose Color --</option>
            </select>
          </div>
        </div>

        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label for="Size">Size</label>
          <div class="input-group">
            <select id="Size" name="Size" class="form-control">
              <option value="">-- @Resources.Voucher.Choose Size --</option>
            </select>
          </div>
        </div>

        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label for="Grade">Grade</label>
          <div class="input-group">
            <select id="Grade" name="Grade" class="form-control">
              <option value="">-- @Resources.Voucher.Choose Grade --</option>
            </select>
          </div>
        </div>

        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label for="Barcode">Barcode</label>
          <div class="input-group">
            <input class="form-control" id="Barcode" name="Barcode" placeholder="Search Barcode" autocomplete="off"/>

          </div>
        </div>

        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label for="QrCode">Qr Code</label>
          <div class="input-group">
            <input class="form-control" id="QrCode" name="QrCode" placeholder="Search Qr code" autocomplete="off"/>

          </div>
        </div>

        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label for="Status">Status</label>
          <div class="input-group">
            <select id="Status" name="Status" class="form-control">
              <option value="">-- Choose Status --</option>
              <option value="Enable">Enable</option>
              <option value="Disable">Disable</option>
            </select>
          </div>
        </div>

        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label for="No">No</label>
          <div class="input-group">
            <input class="form-control" id="No" name="No" placeholder="Search No" autocomplete="off"/>
          </div>
        </div>

        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label for="StartDate">Start Date</label>
          <div class="input-group">
            <input type="date" class="form-control" id="StartDate" name="StartDate" autocomplete="off"/>
          </div>
        </div>

        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label for="EndDate">End Date</label>
          <div class="input-group">
            <input type="date" class="form-control" id="EndDate" name="EndDate" autocomplete="off"/>
          </div>
        </div>

        <input type="hidden" id="PageSize" name="PageSize" value="20"/>

      </div>
      <button class="btn btn-info btn-sm"><i class="ti-search"></i> Searching</button>
    </form>
  </div>

</div>
@* Card Filter *@

<div style="padding: 5px 0 ; float: right">
  <a href="@Url.Action("TransferBalance", "Transfer")" class="btn btn-dropbox btn-sm text-white"><i class="ti-shopping-cart"></i> Transfer Balance</a>
  <a class="btn btn-default btn-sm" id="btn-add-new"><i class="ti-plus"></i> Transfer</a>
  <a class="btn btn-default btn-sm" id="btn-export"><i class="ti-export"></i> Export</a>
</div>

<div style="padding-top: 5px"></div>
@Html.Partial("~/Views/Components/Controls/PageSize.cshtml")

<div id="show"></div>

@section Scripts
{
  <script>

    let token = { __RequestVerificationToken : $('input[name="__RequestVerificationToken"]').val()};
     // select 2
     function Select2(ctn){
        $(ctn).select2({ width: '100%', placeholder: "Select an Option", allowClear: true });
     }

      function getFormData($form){
         let unindexed_array = $form.serializeArray();
         let indexed_array = {};

         $.map(unindexed_array, function(n, i){
             indexed_array[n['name']] = n['value'];
         });

         return indexed_array;
     }

     function GetObject(){
        let $form = $("#form-search");
        let data = getFormData($form);
        console.log(data);
        return data;
     }

     // load table
     function Load(){
         let data = GetObject();
         $('#show').load('/Transfer/GetTable',data);
     }

     Load();

     // form submit
     $(document).on('submit','#form-search',function(e) {
       e.preventDefault();
       Load();
     });

     // page Size
     $('#pageSize_').change(function(e) {
       e.preventDefault();
       $('#PageSize').val($(this).val());
       $('#form-search').submit();
     });

    $(document).on('click', '#show-page a', function (e) {
        try {
            let link = $(this).attr("href").split('=');
            let data = GetObject();
            $('#show').load('/Transfer/GetTable', {
                page: link[1],
                ...data
            });
            e.preventDefault()
        } catch (ex) { }
    });

    Select2('#BossId');
    Select2('#Grade');
    Select2('#Size');
    Select2('#Status');
    Select2('#Color');
    Select2('#ProductId');
    Select2('#TypeName');
    Select2('#type');
    Select2('#LocationId');
    Select2('#CompanyId');

     // Export
    $(document).on('click', '#btn-export', function () {
        $('#table-transfer').csvExport();
    });

    //  get No
    $(document).on('click','#btn-add-new',function() {
      $.ajax({
        type: 'post',
        url: '/Transfer/GenerateNo',
        data: {
          ...token
        },
        success: function(r) {
          let url_token = token.__RequestVerificationToken;
          if(r.id){
            location.href = `/Transfer/Create?token=${url_token}&stockInCutNoLocationIdId=${r.id}&transfer=${url_token}`;
          }
        }
      });
    });


     // edit
      $(document).on('click','#btn-edit',function() {
        alert();
        //let id = $(this).closest('tr').attr('data-id');
        //alert(id);
        //return;

        // let Status = $(this).closest('tr').attr('data-Status');
        //
        // if(Status === "Reject"){
        //   SweatAlert('No is reject ready.','warning');
        //   return;
        // }
        //
        // if(Status === "Done"){
        //   SweatAlert('No is confirm ready.','warning');
        //   return;
        // }

      //  location.href = `/Transfer/Create?token=${token.__RequestVerificationToken}&stockInCutNoLocationIdId=${id}&edit=true&Transfer${token.__RequestVerificationToken}`;

      });

       // sweet alert
       function SweatAlert(message, type) {
            swal({
                title: message,
                type: type,
                timer: 1500
            });
       }

       // Filter

       // get data from api
        function GetDataApi(url, data) {
           let dataResponse = null;
           let error = false;
           $.ajax({
             url: url,
             async: false,
             type: "POST",
             global: false,
             dataType: 'json',
             data: data,
             success: function(response) {
                dataResponse = response
             },
             error: function() {
               error =  true
             }
           });
           return {data: dataResponse, error};
       }

       // get select option
       function setToSelect({data : data, label : label}) {
             let option = '<option value="">-- ' + 'Choose ' +  label + ' --</option>';
             for(let item in data){
                 option += '<option value="'+data[item].key+'">' + data[item].value + '</option>';
             }
             return option;
       }

       // BossId
      $('#BossId').change(function (){
          $('select#CompanyId').val(0).select2();
          $('select#type').val(0).select2();
          $('select#TypeName').val(0).select2();
          $('select#ProductId').val(0).select2();
          $('select#Color').val(0).select2();
          $('select#Size').val(0).select2();
          $('select#Grade').val(0).select2();

          let dataForSent = {
              id: $(this).val(),
              ...token
          };

          let {data} = GetDataApi('/Other/GetCompanyId',dataForSent);

          $('#CompanyId').html(setToSelect({data: data, label: '@Resources.Voucher.Company'}));

          //$('#form-search').submit();
      });

        // cid
        $('#CompanyId').change(function (){
            $('select#type').val(0).select2();
             $('select#TypeName').val(0).select2();
             $('select#ProductId').val(0).select2();
             $('select#Color').val(0).select2();
             $('select#Size').val(0).select2();
             $('select#Grade').val(0).select2();

            let dataForSent = {
                id: $(this).val(),
                ...token
            };

            let {data} = GetDataApi('/Other/GetLocationId',dataForSent);

            $('#LocationId').html(setToSelect({data: data, label: '@Resources.Voucher.Location'}));

        });

        // product type
           $('#type').change(function (){
              $('select#TypeName').val(0).select2();
               $('select#ProductId').val(0).select2();
               $('select#Color').val(0).select2();
               $('select#Size').val(0).select2();
               $('select#Grade').val(0).select2();

               let dataForSent = {
                   bossId : $('#BossId').val(),
                   productType: $(this).val(),
                   ...token
               };

               let {data} = GetDataApi('/StockInProductCut/GetProductTypeByBoss', dataForSent);

               $('#TypeName').html(setToSelect({data: data, label: 'Type Name'}));
           });


           //type name
            $('#TypeName').change(function (){


                 $('select#ProductId').val(0).select2();
                  $('select#Color').val(0).select2();
                  $('select#Size').val(0).select2();
                  $('select#Grade').val(0).select2();

                let dataForSent = {
                   id: $(this).val(),
                   ...token
                };

                let {data} = GetDataApi('/Other/GetProductByProductType', dataForSent);

                $('#ProductId').html(setToSelect({data: data, label : "Product"}));

            });

            // product name
            $('#ProductId').change(function (){

               $('select#Color').val(0).select2();
               $('select#Size').val(0).select2();
               $('select#Grade').val(0).select2();

                let dataForSent = {
                    id: $(this).val(),
                    ...token
                };

                let {data} = GetDataApi('/Other/GetProductGradeByProductId',dataForSent);
                //
                let {Colors, Sizes, Grades} = data;
                // set Color
                $('#Color').html(setToSelect({data: Colors, label : "Color"}));
                // set Size
                $('#Size').html(setToSelect({data: Sizes, label : "Size"}));
                // set Grade
                $('#Grade').html(setToSelect({data: Grades, label : "Grade"}));

            });

            // Color
            $('#Color').change(function (){
                $('select#Size').val(0).select2();
                $('select#Grade').val(0).select2();
            });

            // Size
            $('#Size').change(function (){
                $('select#Grade').val(0).select2();
            });

  </script>
}
