@using web_payrolls.Models
@using PagedList.Mvc
@using web_payrolls.Helpers
@model  PagedList.IPagedList<web_payrolls.Models.GetAllTransferLocation_Result>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css"/>


@{
  ViewBag.Title = "Transfer";

  // connection
  var db = new DB_Connection();
  var provider = new ContextProvider(new ClHelper(), new DB_Connection());

  // hod
  var hod = db
    .tblBosses
    .Select(boss => new SelectListItem()
    {
      Value = boss.PK_Boss_Id + "",
      Text = boss.Name,
      Selected = boss.PK_Boss_Id == provider.ManagerId
    })
    .ToList();

  // company
  var company = db
    .tblCompanies
    .Select(com => new SelectListItem()
    {
      Value = com.PK_Comp_Id + "",
      Text = com.Comp_Name,
      Selected = com.PK_Comp_Id == provider.CompanyId
    })
    .ToList();
}

<style>
  .table td, .table th {
      border-color: #ced4da;
  }

  .custom-select-form {
      padding: 2px;
      border: #dddddd 1px solid;
  }
</style>

@* Card Filter *@
<div class="card" style="margin-bottom: 0;border-top: #428bca 3px solid">
  <div class="card-header">
    <div class="card-actions">
      <a class="" data-action="collapse">
        <i class="ti-minus"></i> @Resources.Voucher.Show / @Resources.Voucher.Hide
      </a>
    </div>
    <h4 class="card-title m-b-0 card-text">
      <i class="ti-filter"></i> @Resources.Voucher.Filter
    </h4>
  </div>
  <div class="card-body collapse show b-t">
    <form method="get" action="/Transfer/Index" id="form-search">
      <div class="row">

        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label>HOD</label>
          <div class="input-group">
            @Html.DropDownList("bid", hod, "-- Choose Hod --", new {@class = "form-control"})
          </div>
        </div>


        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label>Company</label>
          <div class="input-group">
            @Html.DropDownList("company", company, "-- Choose Company --", new {@class = "form-control"})
          </div>
        </div>

        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label>Location</label>
          <div class="input-group">
            @Html.DropDownList("location", new List<SelectListItem>(), "-- Choose Location --", new {@class = "form-control"})
          </div>
        </div>


        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label>Product Type</label>
          <div class="input-group">
            <select id="type" name="type" class="form-control">
              @* <option value="">-- Choose Product Type --</option> *@
              <option value="Processing">Processing</option>
            </select>
          </div>
        </div>

        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label>Type Name</label>
          <div class="input-group">
            <select id="type_name" name="type_name" class="form-control">
              <option value="">-- @Resources.Voucher.Choose Type Name --</option>
            </select>
          </div>
        </div>

        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label>Product Name</label>
          <div class="input-group">
            <select id="product_name" name="product_name" class="form-control">
              <option value="">-- @Resources.Voucher.Choose Product Name --</option>
            </select>
          </div>
        </div>

        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label>Color</label>
          <div class="input-group">
            <select id="color" name="color" class="form-control">
              <option value="">-- @Resources.Voucher.Choose Color --</option>
            </select>
          </div>
        </div>

        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label>Size</label>
          <div class="input-group">
            <select id="size" name="size" class="form-control">
              <option value="">-- @Resources.Voucher.Choose Size --</option>
            </select>
          </div>
        </div>

        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label>Grade</label>
          <div class="input-group">
            <select id="grade" name="grade" class="form-control">
              <option value="">-- @Resources.Voucher.Choose Grade --</option>
            </select>
          </div>
        </div>

        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label>Barcode</label>
          <div class="input-group">
            <input class="form-control" id="barcode" name="barcode" placeholder="Search barcode" autocomplete="off"/>
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="ti-layout-column4"></i>
              </span>
            </div>

          </div>
        </div>

        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label>Qr Code</label>
          <div class="input-group">
            <input class="form-control" id="qrCode" name="qrCode" placeholder="Search Qr code" autocomplete="off"/>
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="ti-layout-grid4"></i>
              </span>
            </div>

          </div>
        </div>

        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label>Status</label>
          <div class="input-group">
            <select id="status" name="status" class="form-control">
              <option value="">-- Choose Status --</option>
              <option value="Enable">Enable</option>
              <option value="Disable">Disable</option>
            </select>
          </div>
        </div>

        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label for="no">Invoice No</label>
          <div class="input-group">
            <input class="form-control" id="invoice" name="invoice" placeholder="Search No" autocomplete="off"/>
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="ti-notepad"></i>
              </span>
            </div>

          </div>
        </div>

        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label for="no">Start Date</label>
          <div class="input-group">
            <input type="date" class="form-control" id="start" name="start" autocomplete="off"/>
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="ti-notepad"></i>
              </span>
            </div>

          </div>
        </div>


        <div class="form-group col-xlg-3 col-md-4 pb-2">
          <label for="no">End Date</label>
          <div class="input-group">
            <input type="date" class="form-control" id="end" name="end" autocomplete="off"/>
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="ti-notepad"></i>
              </span>
            </div>

          </div>
        </div>


        <input type="hidden" id="pageSize" name="pageSize" value="20"/>


      </div>
      <button class="btn btn-info btn-sm"><i class="ti-search"></i> Searching</button>
    </form>
  </div>

</div>
@* Card Filter *@

<div style="padding: 5px 0 ; float: right">
  <a href="@Url.Action("TransferBalance","Transfer")" class="btn btn-dropbox btn-sm text-white"><i class="ti-shopping-cart"></i> Transfer Balance</a>
  <a class="btn btn-default btn-sm" id="btn-add-new"><i class="ti-plus"></i> Transfer</a>
  <a class="btn btn-default btn-sm" id="btn-export"><i class="ti-export"></i> Export</a>
</div>

Show :
<select class="custom-select-form" id="pageSize_" name="pageSize_" style="margin-top: 3px">
  <option value="10">10</option>
  <option value="20">20</option>
  <option value="30">30</option>
  <option value="50">50</option>
  <option value="100">100</option>
  <option value="500">ALL</option>
</select> Entries

<div class="table-responsive m-t-0 bg-white">
  <table class="table table-sm text-center table-bordered" id="table-transfer">
    <thead class="text-capitalize font-weight-bold table-header-shadow">
    <tr style="border: 1px solid #f3f1f1">
      <td>No.</td>
      <td>HOD</td>
      <td>Location</td>
      <td>Type</td>
      <td>Type_Name</td>
      <td>Product</td>
      <td>Color</td>
      <td>Size</td>
      <td>Grade</td>
      <td>Measure</td>
      <td>Code</td>
      <td>Barcode</td>
      <td>Qr_Code</td>
      <td>Invoice</td>
      <td>QTY</td>
      <td>Date </td>
      <td>Time </td>
      <td>Status</td>
      <td>User_Update</td>
      <td>User_Confirm</td>
      <td>Date_Confirm</td>
      <td>Time_Confirm</td>

    </tr>
    </thead>
    <tbody>
    @{ var rowNo = 0; }
    @foreach (var row in Model)
    {
      <tr data-id="@row.No" data-status="@row.Status">
        <td style="width: 80px">@(rowNo += 1)</td>
        <td>@row.Boss</td>
        <td>@row.Location</td>
        <td>
          <span class="label label-success">@row.Type</span>
        </td>
        <td>
          <span class="">@row.TypeName</span>
        </td>
        <td>@row.Product</td>
        <td>@row.Color</td>
        <td>@row.Size</td>
        <td>@row.Grade</td>
        <td>@row.Measure</td>
        <td>@row.Code</td>
        <td>@row.QrCode</td>
        <td>@row.Bacode</td>
        <td>
          <span class="label label-light-danger"># @row.No</span>
        </td>
        <td>@row.Qty</td>
        <td>@row.Date</td>
        <td>@row.Time</td>
        <td>
          @if (@row.Status == "Pending")
          {
            <span class="label label-info">@row.Status</span>
          }
          else if (@row.Status == "Done")
          {
            <span class="label label-custom">@row.Status</span>
          }
          else
          {
            <span class="label label-danger">@row.Status</span>
          }

        </td>
        <td>@row.UserUpdate</td>
        <td>@row.UserConfirm</td>
        <td>@row.ConfirmDate</td>
        <td>@row.ConfirmTime</td>
      </tr>
    }
    </tbody>
  </table>

</div>

<div class="pagination">
  <div class="">
    <span> Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</span>
    <span>
      @Html.PagedListPager(Model, page => Url.Action("Index", new {page}))
    </span>

  </div>
</div>


@section Scripts
{
  <script>

    let token = { __RequestVerificationToken : $('input[name="__RequestVerificationToken"]').val()};

    let searchParams = new URLSearchParams(window.location.search);

    function setParams(ctn){
      if(searchParams.has(ctn)){
         $('#'+ctn).val(searchParams.get(ctn));
      }
    }
     // select 2
     function Select2(ctn){
        $(ctn).select2({ width: '100%', placeholder: "Select an Option", allowClear: true });
     }

    Select2('#bid');
    Select2('#grade');
    Select2('#size');
    Select2('#status');
    Select2('#color');
    Select2('#product_name');
    Select2('#type_name');
    Select2('#type');
    Select2('#location');
    Select2('#company');

    setParams('invoice');
    setParams('barcode');
    setParams('qrCode');
    setParams('status');
    setParams('grade');
    setParams('size');
    setParams('color');
    setParams('product_name');
    setParams('type_name');
    setParams('type');
    setParams('company');
    setParams('location');
    setParams('bid');
    setParams('pageSize');
    setParams('start');
    setParams('end');

     // Export
    $(document).on('click', '#btn-export', function () {
        $('#table-transfer').csvExport();
    });


    $('#pageSize_').val(searchParams.get('pageSize') ? searchParams.get('pageSize') : 20);

    $(document).on('click','#pagination ul li a',function(e) {
      e.preventDefault();
      let page = $(this).attr('href').split('=')[1];

      let form = $('#form-search').serialize();
      //console.log(form);
      location.href = '?page='+ page + '&' + form;
    });

    $(document).on('change','#pageSize_',function(e) {
       e.preventDefault();
       let pageSize = $(this).val();

       $('#pageSize').val(pageSize);

       $('#form-search').submit();
    });

    //  get invoice
    $(document).on('click','#btn-add-new',function() {
      $.ajax({
        type: 'post',
        url: '/Transfer/GenerateInvoice',
        data: {
          ...token
        },
        success: function(r) {
          let url_token = token.__RequestVerificationToken;
          if(r.id){
            location.href = `/Transfer/Create?token=${url_token}&stockInCutNoLocationId=${r.id}&transfer=${url_token}`;
          }
        }
      });
    });


     // edit
      $(document).on('click','#table-transfer tbody tr',function() {
        let id = $(this).closest('tr').attr('data-id');

        let status = $(this).closest('tr').attr('data-status');

        if(status === "Reject"){
          SweatAlert('invoice is reject ready.','warning');
          return;
        }

        if(status === "Done"){
          SweatAlert('invoice is confirm ready.','warning');
          return;
        }

        location.href = `/Transfer/Create?token=${token.__RequestVerificationToken}&stockInCutNoLocationId=${id}&edit=true&Transfer${token.__RequestVerificationToken}`;

      });

       // sweet alert
       function SweatAlert(message, type) {
            swal({
                title: message,
                type: type,
                timer: 1500
            });
       }

       // Filter

       // get data from api
        function GetDataApi(url, data) {
           let dataResponse = null;
           let error = false;
           $.ajax({
             url: url,
             async: false,
             type: "POST",
             global: false,
             dataType: 'json',
             data: data,
             success: function(response) {
                dataResponse = response
             },
             error: function() {
               error =  true
             }
           });
           return {data: dataResponse, error};
       }

       // get select option
       function setToSelect({data : data, label : label}) {
             let option = '<option value="">-- ' + 'Choose ' +  label + ' --</option>';
             for(let item in data){
                 option += '<option value="'+data[item].key+'">' + data[item].value + '</option>';
             }
             return option;
       }

       // bid
      $('#bid').change(function (){
          $('select#company').val(0).select2();
          $('select#type').val(0).select2();
          $('select#type_name').val(0).select2();
          $('select#product_name').val(0).select2();
          $('select#color').val(0).select2();
          $('select#size').val(0).select2();
          $('select#grade').val(0).select2();

          let dataForSent = {
              id: $(this).val(),
              ...token
          };

          let {data} = GetDataApi('/Other/GetCompany',dataForSent);

          $('#company').html(setToSelect({data: data, label: '@Resources.Voucher.Company'}));

          //$('#form-search').submit();
      });

        // cid
        $('#company').change(function (){
            $('select#type').val(0).select2();
             $('select#type_name').val(0).select2();
             $('select#product_name').val(0).select2();
             $('select#color').val(0).select2();
             $('select#size').val(0).select2();
             $('select#grade').val(0).select2();

            let dataForSent = {
                id: $(this).val(),
                ...token
            };

            let {data} = GetDataApi('/Other/GetLocation',dataForSent);

            $('#location').html(setToSelect({data: data, label: '@Resources.Voucher.Location'}));

        });

        // product type
           $('#type').change(function (){
              $('select#type_name').val(0).select2();
               $('select#product_name').val(0).select2();
               $('select#color').val(0).select2();
               $('select#size').val(0).select2();
               $('select#grade').val(0).select2();

               let dataForSent = {
                   bossId : $('#bid').val(),
                   productType: $(this).val(),
                   ...token
               };

               let {data} = GetDataApi('/StockInProductCut/GetProductTypeByBoss', dataForSent);

               $('#type_name').html(setToSelect({data: data, label: 'Type Name'}));
           });


           //type name
            $('#type_name').change(function (){


                 $('select#product_name').val(0).select2();
                  $('select#color').val(0).select2();
                  $('select#size').val(0).select2();
                  $('select#grade').val(0).select2();

                let dataForSent = {
                   id: $(this).val(),
                   ...token
                };

                let {data} = GetDataApi('/Other/GetProductByProductType', dataForSent);

                $('#product_name').html(setToSelect({data: data, label : "Product"}));

            });

            // product name
            $('#product_name').change(function (){

               $('select#color').val(0).select2();
               $('select#size').val(0).select2();
               $('select#grade').val(0).select2();

                let dataForSent = {
                    id: $(this).val(),
                    ...token
                };

                let {data} = GetDataApi('/Other/GetProductGradeByProductId',dataForSent);
                //
                let {colors, sizes, grades} = data;
                // set color
                $('#color').html(setToSelect({data: colors, label : "Color"}));
                // set size
                $('#size').html(setToSelect({data: sizes, label : "Size"}));
                // set grade
                $('#grade').html(setToSelect({data: grades, label : "Grade"}));

            });

            // color
            $('#color').change(function (){
                $('select#size').val(0).select2();
                $('select#grade').val(0).select2();
            });

            // size
            $('#size').change(function (){
                $('select#grade').val(0).select2();
            });

  </script>
}
